

body {
    font-family: Arial, sans-serif;
  }

.container {
    border: 1px solid black;
}


.header {
    margin: 0px;
    padding: 0px;
}

.headerlinestrip {
    background-color: #000080;
    min-height: 6px;
}

.nav-bar .nbar {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#046307;      
}

.nav-bar .nbar li {
        float: left;      
}


.nav-bar .nbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.nav-bar .nbar li a:hover {
    background-color:#000080;
  }


.body-container {
      margin-left:10px;
      margin-right:10px;
      margin-bottom:10px;
  }


.body-container .bc-head-title {
    font-family: Verdana;
    font-weight: bold;
    font-size: large;
}

.body-container p {
    text-align: justify;
}

ul.bc-policy-logo {
    list-style-image:url("policy.jpg");
    margin-left:20px;
}
  

.form-container {
    float: right;    
    margin-top:20px;
    margin-right: 50px;
}

.form-container form > input , label , button  {
    display: block !important;
    margin-top: 5px;
    
}


.card {
    width:300px;
    background-color: #F3F6F7;
    border: 1px solid #bdb9b9;
    display: inline-block;
    vertical-align:top;   
    border-radius: 5px;     
    margin: 12px;
  }
.card p {
    padding-left:5px;
    padding-right:5px;
    padding-bottom: 5px;
  }

.card img {
    width: 100%;
    height: 150px;    
}  

div.video {
    width:300px;
    background-color: #F3F6F7;
    border: 1px solid #bdb9b9;
    display: inline-block;
    vertical-align:top;   
    border-radius: 5px;     
    margin: 12px;
}

.video p {
    padding-left:5px;
    padding-right:5px;
    padding-bottom: 5px;
}

div.video video {
    width: 100%;
    height: 150px;    
}
h1 {
    font-family: Arial, Helvetica, sans-serif Impact;
    position: relative;
    left: 510px;
    top: -110px;
    margin: -20px;
}

div.a{
    position: relative;
    top: 20px;
    right: -220px;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
    transition: 1s;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.column img {
    display: block;
     border-radius: 15px;
    box-shadow: 1px 1px 15px 15px rgba(0, 0, 01, .1);
    background: url(background.png);
}

.column:hover{
    transform: scale(1.1);
    z-index: 2;
}

div.b {
    font-style: italic;
    font-size: 40px;
}

.body-container p.dot {
    position: relative;
    left: 22px;
    top: -4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    text-align: left;
}

span.bullet {
    position: relative;
    top: -95px;
    left: 7px;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

div.d {
    font-style: italic;
    font-size: 40px;
}

div.body-container p.bot {
    position: relative;
    left: 22px;
    top: -7px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    text-align: left;
}

span.bullet1 {
    position: relative;
    top: -80px;
    left: 7px;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}